.inner{
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.header{
  height: 85px;
  margin-bottom: 7px;
}

.logo{
  position: absolute;
  top:0;
  left: 50%;
  margin-left: -117px;
}

.util-wrap{
  margin: 32px 50px 0 0;
  float: right;
}

.util-member{
  float: left;
  margin-top: 3px;
}

.util-member-item{
  float: left;
  margin-right: 20px;
}

.fb-logo{
  float: left;
}

.nav{
  height: 36px;
  padding: 1px;
  background: #2b3e4f;
}

.nav-heading{
  display: none;
}

.gnb-depth1-item{
  width: 200px;
  float: left;
}

.gnb-depth1-link{
  display: block;
  height: 36px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 36px;
}

.gnb-depth1-link:hover{
  background: #0e68ab;
}

.gnb-depth2{
  background: #ffffff;
  width: 198px;
  border: 1px solid #ccc ;
  position: absolute;
  padding: 5px 0;
  display: none;
}

.gnb-depth2-link{
  color:#999;
  font-size: 14px;
  display: block;
  padding: 3px 20px;
  line-height: 1.6;
}

.gnb-depth2-link:hover{
  color: #000;
  font-weight: bold;
}

.join-member{
  width: 470px;
  padding: 14px;
  border: 1px solid#e3e3e3;
  background: #f5f5f5;
  margin: 0 auto;
  border-radius: 6px;
}

.section-heading{
  display: none;
}

.form-wrap{
  border-radius: 6px;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
}

















.clearfix{
  content: "";
  display: block;
  clear: both;
}