.header{
  position:absolute;
  padding-top: 33px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 1px;
  z-index: 900;
  width: 100%;
  background: #fff;
}

.nav-wrap{
  /*height: 550px;*/
  height: 82px;
  overflow: hidden;
}

.wrap{
  overflow: auto;
}
/*
  child 의 top margin 이 parent 의
   top margin 에 더해질때
   더해 지지 않고 parent 내부에서
   margin 이 적용되게 하려면
   parent 에 overflow 속성을 설정해준다
*/


.logo{
  position: absolute;
  top: 22px;
  left: 0;
}

.gnb{
  float: right;
}

.gnb-depth1-item{
  float: left;
}

.gnb-depth1-link{
  font-weight: bold;
  display: block;
  font-size: 17px;
  padding: 32px 0 29px;
}

.gnb-depth1-link:hover,
.gnb-depth1-link.current{
  color: #00878d;
}

.gnb-depth1-item{
  float: left;
  margin-right: 60px;
}

.gnb-depth1-item:last-child{
  margin-right: 0;
}

.gnb-depth1-item:nth-child(2) .gnb-depth2,
.gnb-depth1-item:nth-child(3) .gnb-depth2,
.gnb-depth1-item:nth-child(4) .gnb-depth2,
.gnb-depth1-item:nth-child(5) .gnb-depth2,
.gnb-depth1-item:nth-child(6) .gnb-depth2
{
  display: none;
}
/* 임시 */


.gnb-depth2{
  position: absolute;
  top: 135px;
  left: 30px;
}

.gnb-depth2:after{
  content: "";
  display: block;
  clear: both;
}

.gnb-depth2-item{
  float:left;
  margin-right: 100px;
}

.gnb-depth2-item:last-child{
  margin-right: 0;
}

.gnb-depth2-link{
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0 8px;
}

.gnb-depth3-item{
  margin:16px 0;
}

.gnb-depth3-link{
  color: #6b6b6b;
}



.util{
  width:100%;
  height:33px;
  position:absolute;
  top:0;
  left:0;
  background:#01aeb2;
}

.util-lg{
  float: left;
}

.util-lg-item{
  height: 33px;
  float: left;
  border-right :1px solid #4ec6c9;
}

.util-lg-item:first-child{
  border-left: 1px solid #4ec6c9;
}

.util-lg-link{
  font-size: 11px;
  display: block;
  padding: 0 10px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #ffffff;
}

.util-right{
  float: right;
}

.util-menu{
  float: left;
}

.util-menu-item{
  float: left;
}

.util-menu-item:last-child:after{
  display: none;
}

.util-menu-item:after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 7px;
  background: #4ec6c9;
  margin-bottom: 1px;
}

.util-menu-link{
  display: inline-block;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #ffffff;
  font-size: 11px;
  padding: 0 10px;
}

.portal-link{
  float: left;
  width: 104px;
  height: 33px;
  color: #fff;
  background: #237491;
  display: block;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: -1px;
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
}

.portal-link:after{
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 20px;
  width: 16px;
  height: 16px;
  background: url("../images/top_portal_icon.gif") no-repeat;
}

.search{
  margin: 4px 0 0 10px;
  float: left;
}

.search-heading{
  display: none;
}

.search-input{
  width: 125px;
  height: 24px;
  background: #dedede;
  border: 1px solid #cacaca;
  border-right: 0;
  float: left;
  box-sizing: border-box;
  font-size: 11px;
  padding-left: 5px;
}

.search-button{
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -99999em;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  border-left: 0;
  background: #dedede url("../images/btn_search.png") no-repeat 0 2px;
}

.top-visual{
  width:100%;
  height:158px;
  background:url(../images/sub_visual01.jpg) no-repeat 50% 0;
  position:relative;
  margin-top: 117px;
}

.top-visual h2{
  position: absolute;
  left: 50%;
  margin: 60px 0 0 -130px;
}

.slogan-1{
  font-size: 18px;
  color: #ffffff;
}

.slogan-2{
  font-size: 40px;
  color: #000000;
  margin-top: 10px;
}

/*.sn-wrap{*/
  /*margin-top: 36px;*/
/*}*/

.left-nav{
  width: 237px;
  height: 513px;
  float: left;
  margin-right: 42px;
}

.left-depth1{
  color: #ffffff;
  font-weight: bold;
  padding-left: 20px;
  height: 60px;
  line-height: 56px;
  font-size: 20px;
  background: #09619e;
}

.left-depth1-item{
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 20px;
  line-height: 38px;
  height: 38px;
  background:  #f0f5f6 url("../images/blt_arrow1_2.gif")no-repeat 210px 12px;
  display: block;
  border-bottom: #e5e7e8 solid 1px;
  border-top: 0;
  font-size: 15px;
}

.left-depth1-link:hover{
  color: #0b3c9d;
}


.left-depth1-link.on{
  color: #09619e;
}

.left-depth1-link:hover{
  color: #0b3c9d;
}

/*.left-depth1-list{*/
  /*border: #e5e7e8 solid 1px;*/
/*}*/

/*.left-depth1-link{*/
  /*font-size: 15px;*/
/*}*/

.contents{
  float: left;
  width: 815px;
  position: relative;
}

.contents>h3{
  font-size: 2.5em;
  padding: 10px 0 10px 0;
}

.contents{
  width:815px;
  float:left;
  position:relative;
}

.contents>h3{
  font-size:2.5em;
  padding:10px 0 18px 0;
  border-bottom:2px solid #666;
  font-weight:bold;
}

.contents>h4{
  width:400px;
  font-size:30px;
  font-weight:bold;
  margin-top:85px;
  line-height:38px;
}

.contents>h4>.font-blue{
  color:#0c4da2;
  font-weight:normal;
}

.contents>p{
  width:400px;
  font-size:13px;
  line-height:20px;
  text-align:justify;
}

.contents>p>em,
.contents>p>strong{
  font-weight:bold;
}

.contents>p:nth-child(3){
  margin:28px 0;
}

.contents>p:nth-child(3):before{
  content:"";
  display:block;
  width:228px;
  height:5px;
  background:#237491;
}

.contents>img{
  position:absolute;
  top:160px;
  right:0;
}

.contents>ul{
  border:1px solid #e2e2e2;
  background:#fcfcfc;
  margin-top:50px;
}

.contents>ul>li{
  width:33.33%;
  float:left;
  padding:20px 25px 35px;
  box-sizing:border-box;
}

.contents>ul>li>dl{
  line-height:1.4;
  text-align:justify;
}

.contents>ul>li>dl>dt{
  font-size:14px;
  font-weight:bold;
  margin-bottom:5px;
}

.footer-top{
  font-size:11px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

.footer-top .terms{
  float:left
}

.footer-top .terms>li{
  float:left;
}

.footer-top .terms>li>a{
  display:block;
  padding:12px 10px;
  font-weight:bold;
}

.footer-top .terms>li:first-child>a{
  padding-left:0;
  color:#237491;
}

.footer-top .outlink{
  float:right;
}

.footer-top .outlink>li{
  float:left;
}

.footer-top .outlink>li>a{
  display:block;
  padding:12px 10px;
  font-weight:bold;
}

.footer-top .outlink>li:last-child>a{
  padding-right:0;
}

.footer-bottom{
  background:#f4f4f4;
  padding:20px 0 30px 0;
}

.footer-bottom address{
  margin-bottom:10px;
}

.footer-bottom address div{
  color:#666;
  float:left;
  margin-right:5px;
}

.footer-bottom .sns{
  float: right;

}

.footer-bottom .sns>li{
  float:left;
  margin-right:5px;
}
.footer-bottom .sns>li:last-child{
  margin-right:0;
}

.footer-bottom .copyright{
  font-size:10px;
}








::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333333;
}


.mt36{
  margin-top: 36px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.inner{
  width:1094px;
  margin:0 auto;
  position: relative;
}