.inner{
  width: 1060px;
  margin: 0 auto;
}

.header{
  height: 90px;
}

.logo{
  float: left;
}

.ir-01{
  width: 94px;
  height: 16px;
  text-indent: -9999em;
  background: url("image/menu1.png") no-repeat 35px 38px;
}

.ir-02{
  width: 94px;
  height: 16px;
  text-indent: -9999em;
  background: url("image/menu2.png") no-repeat 35px 38px;
}

.ir-03{
  width: 57px;
  height: 16px;
  text-indent: -9999em;
  background: url("image/menu3.png") no-repeat 35px 38px;
}

.ir-04{
  width: 97px;
  height: 16px;
  text-indent: -99999em;
  background: url("image/menu4.png") no-repeat 35px 38px;

}

.gnb-depth1{
  float: right;
}

.gnb-depth1-link{
  padding: 38px 35px 32px;
  display: block;
}

.gnb-depth1-item{
  float: left;
}

.gnb-depth2{
  display: none;
}

.image{
  width: 1060px;
  height: 420px;
  text-indent: -99999em;
  background: url("image/visual0.jpg") no-repeat 50% 37%;
  background-size: 1060px 706px;
  position: relative;
}

.image_box{
  position: absolute;
  top: 105px;
  left: 250px;
  width: 560px;
  height: 208px;
  background: url("image/vis_txtbg.png") no-repeat;
}

.image_box_text{
  width: 411px;
  height: 44px;
  background: url("image/v0_txt1.png") no-repeat;
  position: absolute;
  top: 50px;
  left: 72px;
}

.image_text{
  width: 560px;
  height: 35px;
  background: url("image/v0_txt2.png") no-repeat;
  position: absolute;
  top: 125px;
  left: 0;
}

.m_text{
  margin: 20px 0;
  height: 40px;
  position: relative;
}

.m_link_r{
  float: right;
}

.ir_umb{
  position: Absolute;
  top: 12px;
  left: 0;
  width: 100%;
  text-align: center;
}

.m_link_l{
  float: left;
}

.content{
  width: 1060px;
  height: 600px;
}

.content01_wrap{
  height: 560px;
  width: 310px;
  float: left;
}

.content01{
  float: left;
  padding: 35px 36px;
  width: 238px;
  height: 365px;
  background: #faf05e;
  position: relative;
}

.content01_link{
  width: 238px;
  height: 280px;
}

.content01_image{
  margin-top: 5px;
  margin-left: 34px;
}

.content01_shape{
  position: absolute;
  top: 55px;
  left: 0;
}

.content01_title{
  font-size: 18px;
  margin-top: 22px;
  color: #333;
  font-weight: bold;
}

.content01_t_text{
  margin-top: 12px;
  font-size: 13px;
  color: #666;
  line-height: 16px;
}

.content01_button {
  position: absolute;
  bottom: 20px;
  width: 238px;
  text-align: center;
}

.content01_hd_link{
  margin-top: 45px;
  width: 310px;
  height: 69px;
  float: left;
}

.content02_wrap{
  position: relative;
  float: left;
  margin-left: 50px;
  width: 455px;
  height: 300px;
}

.content02_img1 {
  float: left;
}

.content02_img1>span{
  display: block;
  font-size: 16px;
  width: 221px;
  height: 21px;
  margin: 10px 0 0 0;
}

.content02_img2 {
  float: right;
}

.content02_img2>span{
  display: block;
  font-size: 16px;
  width: 221px;
  height: 21px;
  margin: 10px 0 0 0;
}

.content02_side{
  float: right;
}

.content02_more{
  position: absolute;
  bottom: 15px;
  right: 0;
}

.content03{
  width: 700px;
  height: 162px;
}

.content03_wrap{
  width: 700px;
  height: 243px;
  margin-left: 50px;
  float: left;
  margin-top: 15px;
  border-top: 2px solid #333;
}

.content03_img{
  margin: 23px 0;
}

.content03_01{
  width: 330px;
  height: 34px;
  float: left;
}

.content03_02{
  width: 330px;
  height: 34px;
  float: right;
}

.content03_tit{
  font-size: 18px;
  display: block;
  margin: 10px 0;
}

.content03_txt{
  margin: 14px 0 0;
  color: #777;
  font-size: 13px;
  line-height: 22px;
  width: 330px;
  height: 90px;
  display: block;
}

.content03_st{
  color: #777;
  margin: 5px 0 0;
  font-size: 14px;
}

.content03_lk{
  width: 330px;
  height: 161px;
  display: block;
}

.mid_con{
  width: 100%;
  margin: 10px auto;
  padding: 38px 0 0;
  height: 346px;
  overflow: hidden;
  background: #f7f7f7;
  position: relative;
}

.mid_tit{
  position: absolute;
  top: 35px;
  left: 900px;
}

.icon_wrap{
  margin-top: 40px;
}

.icon1>a{
  display: block;
  width: 190px;
  height: 255px;
  text-indent: -99999em;
  background:url("image/mCsrIcon1.png");
  float: left;
  margin-left: 60px;
}

.icon2>a{
  width: 190px;
  height: 255px;
  text-indent: -99999em;
  background:url("image/mCsrIcon2.png");
  float: left;
  margin-left: 60px;
}

.icon3>a{
  width: 190px;
  height: 255px;
  text-indent: -99999em;
  background:url("image/mCsrIcon3.png");
  float: left;
  margin-left: 60px;
}

.icon4>a{
  width: 190px;
  height: 255px;
  text-indent: -99999em;
  background:url("image/mCsrIcon4.png");
  float: left;
  margin-left: 60px;
}

.icon1>a:hover{
  background:url("image/mCsrIcon1_on.png") ;
}

.icon2>a:hover{
  background:url("image/mCsrIcon2_on.png") ;
}

.icon3>a:hover{
  background:url("image/mCsrIcon3_on.png") ;
}

.icon4>a:hover{
  background:url("image/mCsrIcon4_on.png") ;
}

.clearfix{
  content: "";
  display: block;
  clear: both;
}